<div class="maps">

      <h1>
        Google Maps
        </h1>
        <label for="">Address</label>
      <input
        (keyup)="makeQuery(1)"
        [(ngModel)]="address"
      /> 
      <label for="">country</label>
      <input
      (keyup)="makeQuery(2)"
        [(ngModel)]="country"
      /> 
      <label for="">PostalCode</label>
      <input
      (keyup)="makeQuery(3)"
        [(ngModel)]="postal"
      /> 
      
      <label for="">LandMark</label>
      <input
      (keyup)="makeQuery(4)"
        [(ngModel)]="landmark"
      />

      <label for="">Longitude</label>
      <input
        disabled
        [(ngModel)]="lng"
      />

      <label for="">Latitude</label>
      <input
      disabled
        [(ngModel)]="lat"
      />

     
  </div>

  <div #gmap ></div>



<agm-map [latitude]="lat" [longitude]="lng" (mapClick)="mapReadyHandler($event)" [zoom]="10">
  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map>